src/main/mule/implementation/create-users.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="create-users-implementation-flow" doc:id="6768509a-3719-4a2b-acef-144ec81639ff" >
		<logger level="INFO" doc:name="Logger" doc:id="5c74392d-b5cc-489c-b176-6960566edfdb" message='#[output application/java&#10;---&#10;"start create users flow with file name: correlationId: " ++ correlationId]'/>
		<db:bulk-insert doc:name="Bulk insert user" doc:id="704f2d3c-c011-41bf-8d3c-771adb45b6a0" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO users (id,nome,cognome,eta,citta,email)
VALUES (:id,:nome,:cognome,:eta,:citta,:email);
]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="response" doc:id="d243eecd-f3eb-452d-ac2c-a977a8770407" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"id" : payload.id,
	"message" : "insert"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
