src/main/mule/implementation/update-user.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-user-implementation-flow" doc:id="8b07cb50-a8cf-4733-a89c-58f77169f803" >
		<logger level="INFO" doc:name="Logger" doc:id="e16723da-6a47-470a-b170-833d57c9f313" message='#[output application/java&#10;---&#10;"start create users flow with file name: correlationId: " ++ correlationId]'/>
		<db:update doc:name="Update users" doc:id="281bc335-bb01-4676-8889-aa097ea9c5ad" config-ref="Database_Config" target="updateUser">
			<db:sql ><![CDATA[ UPDATE users 
        SET nome = :id , :nome, cognome = :cognome, eta = :eta , citta = :citta , email = :email
        WHERE id = :id
       ]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="response" doc:id="92ff3ef7-5f59-4718-a242-b0d04bb87639" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"id" : payload.id,
	"message" : "insert"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f5491296-d6f5-4fb0-9a9a-5d1d76f9e751" message='#[output application/java&#10;---&#10;"user with id: " ++ payload.id ++ " updated"]'/>
	
</flow>
</mule>
