src/main/mule/implementation/update-user.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-user-implementation-flow" doc:id="8b07cb50-a8cf-4733-a89c-58f77169f803" >
		<set-variable value="#[output application/json&#10;---&#10;&quot;UPDATE users SET &quot; ++ &#10;(if (!isEmpty(payload.nome)) &quot;nome='&quot; ++ payload.nome ++ &quot;'&quot; else &quot;&quot;) ++&#10;(if (!isEmpty(payload.cognome)) &#10;    (if (!isEmpty(payload.nome)) &quot;, &quot; else &quot;&quot;) ++ &quot;cognome='&quot; ++ payload.cognome ++ &quot;'&quot; &#10;else &quot;&quot;) ++&#10;(if (!isEmpty(payload.eta)) &#10;    (if (!isEmpty(payload.nome) or !isEmpty(payload.cognome)) &quot;, &quot; else &quot;&quot;) ++ &quot;eta=&quot; ++ payload.eta &#10;else &quot;&quot;) ++&#10;(if (!isEmpty(payload.citta)) &#10;    (if (!isEmpty(payload.nome) or !isEmpty(payload.cognome) or !isEmpty(payload.eta)) &quot;, &quot; else &quot;&quot;) ++ &quot;citta='&quot; ++ payload.citta ++ &quot;'&quot; &#10;else &quot;&quot;) ++&#10;(if (!isEmpty(payload.email)) &#10;    (if (!isEmpty(payload.nome) or !isEmpty(payload.cognome) or !isEmpty(payload.eta) or !isEmpty(payload.citta)) &quot;, &quot; else &quot;&quot;) ++ &quot;email='&quot; ++ payload.email ++ &quot;'&quot; &#10;else &quot;&quot;) ++&#10;&quot; WHERE id = &quot; ++ payload.id]" doc:name="query" doc:id="1eefc950-d751-4cac-925e-6ff20d9c8241" variableName="query"/>
		<logger level="INFO" doc:name="Logger" doc:id="e16723da-6a47-470a-b170-833d57c9f313" message='#[output application/java&#10;---&#10;"start update users flow with query: " ++ vars.query ++ " correlationId: " ++ correlationId]' />
		<db:update doc:name="Update users" doc:id="281bc335-bb01-4676-8889-aa097ea9c5ad" config-ref="Database_Config" target="updateUser">
			<db:sql ><![CDATA[#[vars.query]]]></db:sql>
		</db:update>
		<ee:transform doc:name="response" doc:id="92ff3ef7-5f59-4718-a242-b0d04bb87639" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"id" : payload.id,
	"message" : "update"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f5491296-d6f5-4fb0-9a9a-5d1d76f9e751" message='#[output application/java&#10;---&#10;"user with id: " ++ payload.id ++ " updated"]'/>
	
</flow>
</mule>
