src/main/mule/database-management-system.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="database-management-system-main">
        <http:listener config-ref="database-management-system-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="database-management-system-config" />
    </flow>
    <flow name="put:\users:application\json:database-management-system-config">
        <flow-ref doc:name="update-user-implementation-flow" doc:id="ca19807f-c754-4f7d-8240-53853032c18d" name="update-user-implementation-flow" />
    </flow>
    <flow name="delete:\users\(id):database-management-system-config">
		<flow-ref doc:name="delete-user-by-id-implementation-flow" doc:id="59cb3350-831a-46a7-a53f-7e1e3455482a" name="delete-user-by-id-implementation-flow"/>
    </flow>
    <flow name="patch:\users:application\json:database-management-system-config">
		<flow-ref doc:name="id,nome,cognome,eta,citta ,email" doc:id="01488716-2d4e-493d-bfd7-99fffbfb64d8" name="patch-user-implementation-flow"/>
    </flow>
    <flow name="get:\users:database-management-system-config">
		<flow-ref doc:name="get-users-implementation-flow" doc:id="c1930296-ccc6-4156-a5e4-9f2fa2ab28c6" name="get-users-implementation-flow"/>
    </flow>
    <flow name="get:\users\(id):database-management-system-config">
        <flow-ref doc:name="get-user-by-id-implementation-flow" doc:id="51d4841c-7e24-4ff5-a36e-03602e0ae86e" name="get-user-by-id-implementation-flow" />
    </flow>
    <flow name="post:\users:application\json:database-management-system-config">
        <flow-ref doc:name="create-users-implementation-flow" doc:id="e2a67245-5639-4fa1-b4b6-f66735fb4136" name="create-users-implementation-flow" />
    </flow>
</mule>
